/****************************************************/
/* GENERAL MOBILE STYLES */
/****************************************************/
* {
    max-width: 100%
}
.hamburger {
    position: fixed;
    /* a large z-index puts the ham button above the rest of the page*/
    z-index: 99;
    background: white;
    border: none;
    cursor: pointer;
    top: 2rem;
    right: 2rem;
}

.menu {
    position: fixed;
    /* give the menu a larger z-index than the ham link
  to put the menu above it */
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    /* basic menu styling*/
    list-style: none;
    background: black;
    display: flex;
    flex-direction: column;
    /* animate slide up/down */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

.close {
    position: absolute;
    border: none;
    color: white;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
}

.menu:target {
    /* show menu */
    transform: translateY(0);
}

.logo {
    height: 8rem;
    width: 8rem;
}

main {
    padding-top: 1rem;
}

/****************************************************/
/* MOBILE HOMEPAGE STYLES */
/****************************************************/

.card {
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.post-img {
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.post-img-left {
    border-radius: 1.5rem 1.5rem 0 0;
}

.post-img-right {
    border-radius: 0 0 1.5rem 1.5rem;
}

/****************************************************/
/* MOBILE POST STYLES */
/****************************************************/
.post-page-title {
    text-align: center;
}
.content-container {
    padding: 1rem;
}

.author-img {
    height: 5rem;
}

.author-attribution {
    justify-content: center;
}