@import "mobstyle.css" screen and (max-width: 25rem);
@import "post-styles.css";
@import "assets\css\tablet-styles.css" screen and (max-width: 51rem);

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/******************************************************************/
/* GENERAL STYLES */
/******************************************************************/
body {
    font-family: "Playfair Display";
}

header {
    display: flex;
    background-color: #fff;
}

a {
    text-decoration: none;
}

.card {
    display: flex;
    background-color: #FFD3B6;
    border-radius: 1.5rem;
}

.post-desc {
    padding: 2rem;
    color: #698474;
    letter-spacing: 0.03rem;
}

main, .footer {
    background-color: #DCA47C;
}

.footer {
    color: #698474
}
.footer-link {
    color: #698474;
}

.post-link {
    background-color: #698474;
    color: #FCF8F3;
    padding: 1rem 3.5rem;
    display: inline-block;
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.link-container {
    text-align: center;
}

/*******************************************************/
/* DESKTOP STYLES */
/*******************************************************/

@media screen and (min-width: 50rem){

        .hamburger, .close {
            display: none;
        }

        .logo {
            margin-left: auto;
        }
    
        header {
            display: flex;
            background-color: #fff;
        }
    
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        ul {
            list-style-type: none;
            text-transform: uppercase;
        }
    
        .navbar {
            display: flex;
            gap: 3rem;
        }
    
        .navbar-container {
            display: flex;
            align-items: center;
        }
    
        .nav-link {
            letter-spacing: 0.3rem;
            font-weight: 600;
            color: #698474;
        }
    
        .post-title {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 1rem;
            letter-spacing: 0.15rem;
        }
    
        .underline {
            text-decoration: underline;
        }
    
        
    
    .footer {
        text-align: center;
        background-color: #DCA47C;
        height: 6rem;
        color: #FFD3B6;
        padding-top: 1.5rem;
    }

    header {
        height: 30vh;
    }

    .card {
        width: 70vw;
        margin-top: 2.5rem;
    }

    .navbar-container {
        align-items: center;
    }

    .post-img-left {
        border-radius: 1.5rem 0 0 1.5rem;
    }
    
    .post-img-right {
        border-radius: 0 1.5rem 1.5rem 0;
    }

    .post-link:hover {
        background-color: #DCA47C;
    }

    .nav-link:hover {
        color: #DCA47C;
    }

    .footer-link:hover {
        color: #FCF8F3;
    }
}


/* playfair-display-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfair-display-v37-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/playfair-display-v37-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/playfair-display-v37-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}